@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: 'DINPro-Black';
    src: url('../fonts/DINPro-Black');
    src: url('../fonts/DINPro-Black?#iefix') format('embedded-opentype'),
         url('../fonts/DINPro-Black.woff') format('woff'),
         url('../fonts/DINPro-Black.ttf') format('truetype'),
         url('../fonts/DINPro-Black.svg#DINPro-Black') format('svg');
    font-style: normal;
}
@font-face {
    font-family: 'DINPro-Bold';
    src: url('../fonts/DINPro-Bold');
    src: url('../fonts/DINPro-Bold?#iefix') format('embedded-opentype'),
         url('../fonts/DINPro-Bold.woff') format('woff'),
         url('../fonts/DINPro-Bold.ttf') format('truetype'),
         url('../fonts/DINPro-Bold.svg#DINPro-Bold') format('svg');
    font-style: normal;
}
@font-face {
    font-family: 'DINPro-Medium';
    src: url('../fonts/DINPro-Medium');
    src: url('../fonts/DINPro-Medium?#iefix') format('embedded-opentype'),
         url('../fonts/DINPro-Medium.woff') format('woff'),
         url('../fonts/DINPro-Medium.ttf') format('truetype'),
         url('../fonts/DINPro-Medium.svg#DINPro-Medium') format('svg');
    font-style: normal;
}
@font-face {
    font-family: 'DINPro-Light';
    src: url('../fonts/DINPro-Light');
    src: url('../fonts/DINPro-Light?#iefix') format('embedded-opentype'),
         url('../fonts/DINPro-Light.woff') format('woff'),
         url('../fonts/DINPro-Light.ttf') format('truetype'),
         url('../fonts/DINPro-Light.svg#DINPro-Light') format('svg');
    font-style: normal;
}
@font-face {
    font-family: 'SangBleuSunrise-Regular';
    src: url('../fonts/SangBleuSunrise-Regular');
    src: url('../fonts/SangBleuSunrise-Regular?#iefix') format('embedded-opentype'),
         url('../fonts/SangBleuSunrise-Regular.woff') format('woff'),
         url('../fonts/SangBleuSunrise-Regular.ttf') format('truetype'),
         url('../fonts/SangBleuSunrise-Regular.svg#SangBleuSunrise-Regular') format('svg');
    font-style: normal;
}
@font-face {
    font-family: 'Industrial736BT-Roman';
    src: url('../fonts/Industrial736BT-Roman');
    src: url('../fonts/Industrial736BT-Roman?#iefix') format('embedded-opentype'),
         url('../fonts/Industrial736BT-Roman.woff') format('woff'),
         url('../fonts/Industrial736BT-Roman.ttf') format('truetype'),
         url('../fonts/Industrial736BT-Roman.svg#SIndustrial736BT-Roman') format('svg');
    font-style: normal;
}
@font-face {
  font-family: 'optima';
  src: url('../fonts/optima.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/optima.otf')  format('opentype'),
       url('../fonts/optima.woff') format('woff'), 
       url('../fonts/optima.ttf')  format('truetype'), 
       url('../fonts/optima.svg#optima') format('svg');
  font-weight: normal;
  font-style: normal;
}

body,html{
    /* overflow: hidden !important; */
}
html {scroll-behavior: smooth;}
body{margin: 0;padding: 0;background:#fff;box-sizing: border-box;font-family: 'Montserrat', sans-serif;font-weight: 400;}
*{margin: 0;padding: 0;box-sizing: border-box;outline: 0 none;}
* {box-sizing: border-box;margin: 0;padding: 0;}
a:focus {outline: 0px none; }

/*
.navbar-default{background: none;border-radius: 0;border: 0;margin: 0;padding: 15px 0;}
.navbar-brand{padding: 0;}
.navbar-default .navbar-nav>li>a{text-transform: uppercase;font-weight: 500;color: #000;transition: 0.3s;}
.navbar-default .navbar-nav>li>a:hover{color:#c92035!important;transition: 0.3s;}
.navbar-default .navbar-nav>li.main-item.hover>a{color:#c92035!important;transition: 0.3s;}
*/
.navbar-default{background: none;border-radius: 0;border: 0;margin: 0;padding:25px 0 0px 0;transition: 0.3s;}
.navbar-brand{padding:10px 0;}
.navbar-default .navbar-nav>li>a{text-transform: uppercase;font-weight: 500;color: #000;transition: 0.3s;font-size: 11px;letter-spacing: 1px;}
.navbar-default .navbar-nav>li>a:hover{color:#c92035!important;transition: 0.3s;}
.navbar-default .navbar-nav>li.main-item.hover>a{color:#c92035!important;transition: 0.3s;}

.header .navbar-right{margin-right: 0;}


#hamburger, .hamburger, .hamburger-dark, .hamburger-white{
  width: 24px;
  height: 50px;
  position: relative;
  /* margin: 50px auto; */
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  margin-left: 10px;
  top: -5px;
}

#hamburger span, .hamburger span{
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #787878;
  border-radius:0px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
#hamburger span:nth-child(1), .hamburger span:nth-child(1) {
  top: 12px;
}

#hamburger span:nth-child(2),#hamburger span:nth-child(3), .hamburger span:nth-child(2),.hamburger span:nth-child(3) {
  top: 22px;
}

#hamburger span:nth-child(4), .hamburger span:nth-child(4) {
  top: 32px;
}

#hamburger.open span:nth-child(1), .hamburger.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#hamburger.open span:nth-child(2), .hamburger.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#hamburger.open span:nth-child(3), .hamburger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#hamburger.open span:nth-child(4), .hamburger.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.navbar-nav.main_menu{
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    opacity: 0;display: none; 

}

.navbar-nav.main_menu.show{opacity:1;display: block; }


/*animation*/

/*
.pulse {cursor: pointer;box-shadow: 0 0 0 rgba(255,255,255, 0.9);animation: pulse 1s infinite;}
.pulse:hover {animation: none;}
@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255,255,255, 0.9);
  }
  70% {
      -webkit-box-shadow: 0 0 0 5px rgba(255,255,255, 0.4);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(255,255,255, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(255,255,255, 0.9);
    box-shadow: 0 0 0 0 rgba(255,255,255, 0.9);
  }
  70% {
      -moz-box-shadow: 0 0 0 5px rgba(255,255,255, 0.4);
      box-shadow: 0 0 0 5px rgba(255,255,255, 0.4);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(255,255,255, 0);
      box-shadow: 0 0 0 0 rgba(255,255,255, 0);
  }
}
*/

/*animation*/


.banner_desc{}
.banner_desc .fp-tableCell{vertical-align:middle;}
.banner_desc .fp-tableCell .project_banner_desc{text-align:left; position: relative; top: 47%; margin-top: -25px;}
.banner_desc .fp-tableCell .project_banner_desc p{color: #fff;font-size: 12px;font-family: 'SangBleuSunrise-Regular';font-weight: 300;letter-spacing: 3px;margin-bottom: 10px;}
.banner_desc .fp-tableCell .project_banner_desc h4{color: #fff;font-size: 22px;font-family: 'SangBleuSunrise-Regular';font-weight: 900;     letter-spacing: 2px;}


/**/
.fullpage-wrapper {
  width: 100% !important;
  -webkit-transform: none !important;
          transform: none !important;
}
.fullpage-wrapper .fp-section {
  width: 100% !important;
  position: absolute;
  left: 0;
  top: 0;
  visibility: hidden;
  opacity: 0;
  z-index: 0;
  -webkit-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
}
.fullpage-wrapper .fp-section.active {
  visibility: visible;
  opacity: 1;
  z-index: 1;
}
.fullpage-wrapper .fp-section .fp-slidesContainer {
  width: 100% !important;
  -webkit-transform: none !important;
          transform: none !important;
}
.fullpage-wrapper .fp-section .fp-slidesContainer .fp-slide {
  width: 100% !important;
  position: absolute;
  left: 0;
  top: 0;
  visibility: hidden;
  opacity: 0;
  z-index: 0;
  -webkit-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
}
.fullpage-wrapper .fp-section .fp-slidesContainer .fp-slide.active {
  visibility: visible;
  opacity: 1;
  z-index: 1;
}




/**/
.my-5{margin-top:5px !important;margin-bottom:5px!important;}
.px-3{padding-left:3px !important;padding-right: 3px!important;}



.contactus-container .pageTitle h2{font-size: 40px;}
.contactus-container .connectPage .form-group .form-control{font-size: 9px;}
.contactus-container .connectPage .contactForm .btn-default{letter-spacing: 1px;}