/node_modules
/public/hot
/public/assets/
/public/uploads/
/public/site/*.html
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
storage/uploads
/public/site/*.php
/public/site/backup_2020_31/
/public/site/documents/
/public/site/back_html/
/public_vendor.zip