@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: 'DINPro-Black';
    src: url('../fonts/DINPro-Black');
    src: url('../fonts/DINPro-Black?#iefix') format('embedded-opentype'),
         url('../fonts/DINPro-Black.woff') format('woff'),
         url('../fonts/DINPro-Black.ttf') format('truetype'),
         url('../fonts/DINPro-Black.svg#DINPro-Black') format('svg');
    font-style: normal;
}
@font-face {
    font-family: 'DINPro-Bold';
    src: url('../fonts/DINPro-Bold');
    src: url('../fonts/DINPro-Bold?#iefix') format('embedded-opentype'),
         url('../fonts/DINPro-Bold.woff') format('woff'),
         url('../fonts/DINPro-Bold.ttf') format('truetype'),
         url('../fonts/DINPro-Bold.svg#DINPro-Bold') format('svg');
    font-style: normal;
}
@font-face {
    font-family: 'DINPro-Medium';
    src: url('../fonts/DINPro-Medium');
    src: url('../fonts/DINPro-Medium?#iefix') format('embedded-opentype'),
         url('../fonts/DINPro-Medium.woff') format('woff'),
         url('../fonts/DINPro-Medium.ttf') format('truetype'),
         url('../fonts/DINPro-Medium.svg#DINPro-Medium') format('svg');
    font-style: normal;
}
@font-face {
    font-family: 'DINPro-Light';
    src: url('../fonts/DINPro-Light');
    src: url('../fonts/DINPro-Light?#iefix') format('embedded-opentype'),
         url('../fonts/DINPro-Light.woff') format('woff'),
         url('../fonts/DINPro-Light.ttf') format('truetype'),
         url('../fonts/DINPro-Light.svg#DINPro-Light') format('svg');
    font-style: normal;
}
@font-face {
    font-family: 'SangBleuSunrise-Regular';
    src: url('../fonts/SangBleuSunrise-Regular');
    src: url('../fonts/SangBleuSunrise-Regular?#iefix') format('embedded-opentype'),
         url('../fonts/SangBleuSunrise-Regular.woff') format('woff'),
         url('../fonts/SangBleuSunrise-Regular.ttf') format('truetype'),
         url('../fonts/SangBleuSunrise-Regular.svg#SangBleuSunrise-Regular') format('svg');
    font-style: normal;
}
@font-face {
    font-family: 'Industrial736BT-Roman';
    src: url('../fonts/Industrial736BT-Roman');
    src: url('../fonts/Industrial736BT-Roman?#iefix') format('embedded-opentype'),
         url('../fonts/Industrial736BT-Roman.woff') format('woff'),
         url('../fonts/Industrial736BT-Roman.ttf') format('truetype'),
         url('../fonts/Industrial736BT-Roman.svg#SIndustrial736BT-Roman') format('svg');
    font-style: normal;
}
@font-face {
  font-family: 'optima';
  src: url('../fonts/optima.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/optima.otf')  format('opentype'),
       url('../fonts/optima.woff') format('woff'), 
       url('../fonts/optima.ttf')  format('truetype'), 
       url('../fonts/optima.svg#optima') format('svg');
  font-weight: normal;
  font-style: normal;
}
/**/
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?80kuo7');
  src:  url('fonts/icomoon.eot?80kuo7#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?80kuo7') format('truetype'),
    url('fonts/icomoon.woff?80kuo7') format('woff'),
    url('fonts/icomoon.svg?80kuo7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-assets:before {
  content: "\e903";
}
.icon-back:before {
  content: "\e904";
}
.icon-share_new:before {
  content: "\e905";
}
.icon-download:before {
  content: "\e900";
}
.icon-read:before {
  content: "\e901";
}
.icon-share:before {
  content: "\e902";
}

/**/
body,html{
   
}
html {scroll-behavior: smooth;overflow-x: hidden;}
body{margin: 0;padding: 0;background:#fff;box-sizing: border-box;font-family: 'Montserrat', sans-serif;font-weight: 400;}
*{margin: 0;padding: 0;box-sizing: border-box;outline: 0 none;}
* {box-sizing: border-box;margin: 0;padding: 0;}
a:focus {outline: 0px none; }

.navbar-default{background: none;border-radius: 0;border: 0;margin: 0;padding: 10px 15px 10px 0px;transition: 0.3s;}
.navbar-brand{padding:0px 0 0 0;margin-left: -5px;}
.navbar-default .navbar-nav>li>a{text-transform: uppercase;font-weight: 500;color: #000;transition: 0.3s;font-size: 11px;letter-spacing: 1px;}
.navbar-default .navbar-nav>li>a:hover{color:#c92035!important;transition: 0.3s;}
.navbar-default .navbar-nav>li.main-item.hover>a{color:#c92035!important;transition: 0.3s;}

.header .navbar-right{margin-right: 0;}

.navbar-brand img {
    width: 210px;
    max-width: 100%;
    margin-top: -7px;
}

#hamburger{
  width: 24px;
  height: 50px;
  position: relative;
  /* margin: 50px auto; */
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  margin-left: 10px;
}

#hamburger span{
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #787878;
  border-radius:0px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
#hamburger span:nth-child(1) {
  top: 12px;
}

#hamburger span:nth-child(2),#hamburger span:nth-child(3) {
  top: 22px;
}

#hamburger span:nth-child(4) {
  top: 32px;
}

#hamburger.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#hamburger.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#hamburger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#hamburger.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.navbar-nav.main_menu{
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    opacity: 0;display: none; 

}

.navbar-nav.main_menu.show{opacity:1;display: block; }



.banner_desc{}
.banner_desc {vertical-align:middle;}
.banner_desc .project_banner_desc{text-align:left;margin-top: -18vh;}
.banner_desc .project_banner_desc p{color: #fff;font-size: 13px;font-family: 'SangBleuSunrise-Regular';font-weight: 300;letter-spacing: 2px;margin-bottom: 10px;}
.banner_desc .project_banner_desc h4{color: #fff;font-size: 22px;font-family: 'SangBleuSunrise-Regular';font-weight: 900;}

/**/
.mobile_header{position: absolute;top:0;left:0;padding:0 100px;background: #fff;width:100%;box-sizing: border-box; -webkit-box-shadow: 0px 14px 14px 0px rgb(181 181 181 / 47%);-moz-box-shadow:0px 14px 14px 0px rgb(181 181 181 / 47%);box-shadow:0px 14px 14px 0px rgb(181 181 181 / 47%);  z-index: 999;}
.mobile_header .logo{color:#fff;height: 60px;line-height: 60px;float: left;} 
.mobile_header nav{float: right;}
.mobile_header nav ul{margin: 0;padding: 0;display: flex;}
.mobile_header nav ul li{list-style: none;position: relative;text-align: left;}
.mobile_header nav ul li.sub_menu:before{content: "\f107";font-family: 'fontawesome';position: absolute;color: #fff;right:5px;line-height: 60px;font-size: 26px;}
.mobile_header nav ul li.active.sub_menu:before{content: "\f106";}
.mobile_header nav ul li ul{position: absolute;left: 0;background:#333;display: none;}
.mobile_header nav ul li.active ul{display: block;}
.mobile_header nav ul li ul li{display: block;width: 200px;}
.mobile_header nav ul li a{height: 60px;line-height: 60px;padding: 0 20px;color: #fff;text-decoration: none;display: block;font-size: 20px;}
.mobile_header nav ul li a:hover, 
.mobile_header nav ul li a.active{color: #fff;background: #c92136;}
.mobile_header .menu_toggle{color: #fff;float:right;cursor: pointer;width: 30px;height: 30px;position: relative;top: 15px;}
.mobile_header .menu_toggle span{width: 30px;height: 2px;background: #c92136;display: inline-block;line-height: 0;font-size: 0;position: absolute;left: 0;top: 0;}
.mobile_header .menu_toggle span:first-child{top: 6px;}
.mobile_header .menu_toggle span:nth-child(2){top: 20px;}

/**/

.red_txt{color: #c92136;}


.white_bg nav.navbar-fixed-top{background: rgb(255 255 255 / 1) !important;transition: 0s;border-bottom: 1px solid #eceaea;position: fixed;padding: 10px 15px 10px 0px;}


.swal-button {border: none;background-color:#c92136;border-radius: 0;}
.swal-button:focus{box-shadow : none;background-color:#c92136;}
.swal-button:hover{box-shadow : none;background-color:#c92136;}


/**/
/**/
.page_footer{}
.page_footer .footer-bottom{background: #151515;padding: 15px 0;}
.page_footer .footer-bottom .menu li.menu-item{display: inline-block;margin:0;position: relative;}
.page_footer .footer-bottom .menu li.menu-item a{text-decoration: none;color: #fff;padding: 5px 10px 5px 12px;display: inline-block;font-size: 11px;}
.page_footer .footer-bottom .menu li.menu-item::after{content: '';width: 1px;height: 100%;background: #505050;position: absolute;left: 0;}
.page_footer .footer-bottom .menu li.menu-item:first-child::after{content: none;}

.page_footer .newsletter-subscribe{}
.page_footer .newsletter-subscribe h5{color: #fff;line-height: 1.5;font-size: 15px;}
.page_footer .newsletter-subscribe .input-group{height: 45px;}
.page_footer .newsletter-subscribe .input-group input {
    height: 45px;
    border-radius: 0;
    box-shadow: 0 0 0 black;
}
.page_footer .newsletter-subscribe .input-group .btn-red{height: 45px;border-radius: 0;text-transform: uppercase;font-size: 12px;font-weight: 600;letter-spacing: 1px;transition: 0.3s;}
.page_footer .newsletter-subscribe .input-group .btn-red:hover{background-color: #b70727;color: #fff;border-color: #b70727 ; transition: 0.3s;}
.page_footer .footer-widget .widget_nav_menu h3{color: #c3c3c3;font-size: 18px;margin-bottom: 15px;text-transform: uppercase;font-family: 'optima', sans-serif !important;}
.page_footer .footer-widget .widget_nav_menu .menu-footer-menu li a{font-size: 14px;text-decoration: none;color: #fff;margin-bottom: 10px;display: inline-block;transition: 0.3s;}
.page_footer .footer-widget .widget_nav_menu .menu-footer-menu li a:hover{color:#b70727;transition: 0.3s;}

.page_footer .footer-social_icons li{display: inline-block;}
.page_footer .footer-social_icons li a{display: inline-block;padding: 5px;color: #fff;text-decoration: none;font-size: 18px;transition: 0.3s;}
.page_footer .footer-social_icons li a:hover{color:#b70727;transition: 0.3s; }

.footer-logo{display: inline-block;margin-left: -18px;}
.footer-logo img{width:260px;}


.btm-fixed-btn{}
.btm-fixed-btn a{width: 45px;height: 45px;background:#c92136;position: fixed;bottom: 2rem;right:2rem;text-align: center;border-radius: 50%;z-index: 99;font-size: 24px;}
.btm-fixed-btn a i{line-height: 45px;color: #fff;}



.modal.fade.show.info{opacity: 1 !important;}
.modal-open{padding-right: 0 !important;}
.modal.info .modal-dialog{position: fixed;bottom: 0;right: 0;margin: 0 1rem;width: 360px;}
.modal.info .modal-dialog .modal-content{border-radius: 0;border: 0;}
.modal.info .modal-dialog .modal-content form{padding: 0 2rem;}
.modal.info .modal-dialog .modal-content .modal-header{border:0;padding: 0;}
.modal.info .modal-dialog .modal-content .modal-header .close {width: 30px;height: 30px;opacity: 1;}
.modal.info .modal-dialog .modal-content .modal-body{padding-top: 0;padding-bottom: 24px;}
.modal.info .modal-dialog .modal-content .modal-body{}
.modal.info .modal-dialog .modal-content .modal-body .form-group .form-control{border-radius: 0;font-size: 10px;background: transparent;resize: none;color: #000;}
.modal.info .modal-dialog .modal-content .modal-body .form-group .form-control::-webkit-input-placeholder {color: #000;}
.modal.info .modal-dialog .modal-content .modal-body .form-group .form-control::-moz-placeholder {color:#000;}
.modal.info .modal-dialog .modal-content .modal-body .form-group .form-control:-ms-input-placeholder { color: #000;}
.modal.info .modal-dialog .modal-content .modal-body .form-group .form-control:-moz-placeholder {color: #000;}
.modal.info .modal-dialog{}
.modal.info .modal-dialog::after {
    content: '';
    width: 0px;
    height: 0px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 25px solid #fff;
    position: absolute;
    right: 2rem;
    bottom: -20px;
}

/**/
#loader-wrapper {position: fixed;top: 0;left: 0;width: 100%;height: 100%;z-index: 100000;}
.loader {display: block;position: relative;left: 50%;top: 50%;width: 220px;height: 80px;
    margin: -70px 0 0 -110px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    line-height: 110px;
    z-index: 1001;
    text-align: center;
}

.loader img {width: 100%;}
.spinner {box-shadow: 0 0 0 2px #000000, inset 0 0 0 0px #c92035;position: relative;height: 6px;width: 160px;border-radius: 0px;overflow: hidden;animation: rotate 8s linear infinite;margin: 0 auto;}

.spinner:before {display: block;content: "";position: absolute;left: 0;top: 0;height: 100%;background-color: #000000;animation: load 8s linear infinite;}
@keyframes rotate {
    0%,
    42% {transform: rotate(0deg);}
    48%,
    92% {transform: rotate(180deg);}
    100% {transform: rotate(360deg);}
}
@keyframes load {
    0% { width: 0;}
    40%,
    50% {width: 100%;}
    90%,
    100% {width: 0;}
}

#loader-wrapper .loader-section {position: fixed;top: 0;width: 51%;height: 100%;background: #ffffff;z-index: 1000;
    -webkit-transform: translateX(0);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(0);
    /* IE 9 */
    transform: translateX(0);
    /* Firefox 16+, IE 10+, Opera */
}

#loader-wrapper .loader-section.section-left {left: 0;}
#loader-wrapper .loader-section.section-right {right: 0;}
/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(-100%);
    /* IE 9 */
    transform: translateX(-100%);
    /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(100%);
    /* IE 9 */
    transform: translateX(100%);
    /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded .loader {opacity: 0;-webkit-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}
.loaded #loader-wrapper {visibility: hidden;
    -webkit-transform: translateY(-100%);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateY(-100%);
    /* IE 9 */
    transform: translateY(-100%);
    /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.3s 1s ease-out;
    transition: all 0.3s 1s ease-out;
}
/* JavaScript Turned Off */

/*
.no-js #loader-wrapper {display: none;}
.no-js h1 {color: #222222;}
*/

/*end Loader*/